body{
  margin:0;
  height:100vh;
  background: linear-gradient(135deg,#ffe6f0,#fff6ee);
  font-family: 'Poppins', sans-serif;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
}

.page{
  display:none;
  text-align:center;
  animation: fade 1s ease;
}

.page.active{
  display:block;
}

img{
  width:220px;
  border-radius:20px;
  margin:20px 0;
}

h1,h2{
  color:#ff4d6d;
}

p{
  color:#555;
  font-size:18px;
}

button{
  padding:12px 22px;
  border:none;
  border-radius:30px;
  font-size:16px;
  cursor:pointer;
  margin:10px;
  background:#ff4d6d;
  color:white;
  transition:0.3s;
}

button:hover{
  transform: rotate(-3deg) scale(1.05);
  background:#ff1e50;
}

.yes{
  background:#ff85a2;
}

.no{
  background:#aaa;
  position:relative;
}

@keyframes fade{
  from{opacity:0; transform:translateY(20px);}
  to{opacity:1; transform:translateY(0);}
}
